/* 全体の設定 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
    box-sizing: border-box;
}

/* サイト全体のフォント指定 */
body {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800 700 600 500 400;
    background-image: url(../assets/processed/background/tatami1.png);
    background-size: cover;
    overflow-x: hidden;
}

/* トップ部分の設定 */
.div-top {
    display: flex;
    height: 162.5px; /* 1.3倍に拡大 */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-top .top-item {
    width: 65%; /* 1.3倍に拡大 */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-top .title {
    font-size: 4rem;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

/* ミッド部分の設定 */
.div-mid {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.mid-row {
    display: flex;
    flex-direction: row; /* 横並び */
    justify-content: center;
    width: auto;
}

.mid-item {
    width: auto;
    margin: 0 20px; /* アイテム間のマージン */
    text-align: center;
}

.mid-item input {
    width: 90%;
    max-width: calc(100% - 50px);
}

/* モーダル背景のスタイル */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    z-index: 999; /* モーダルより手前に表示 */
    display: none; /* 初期状態では非表示 */
}

/* ルールダイアログのスタイル */
.modal-content {
    position: fixed;
    top: 50%; /* 縦方向の中央に表示する */
    left: 50%; /* 横方向の中央に表示する */
    transform: translate(-50%, -50%); /* 真ん中に配置するために調整 */
    z-index: 1000; /* 一番手前に表示する */
    background-color: white; /* 背景色を白に設定 */
    padding: 20px; /* 内側の余白を追加 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して浮き上がらせる */
    display: none; /* 初期状態では非表示 */
    width: 90%;
    border: 2px solid black;
}

/* アニメーション用のスタイル */
@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

#animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    animation: typewriter 2s steps(30) 1s 1 normal both;
}

/* メディアクエリでPCとスマートフォン対応 */
@media (min-width: 461px) {
    .modal-content {
        width: 60%; /* PCでは横幅が画面の60%になるようにする */
    }
}

@media (max-width: 460px) {
    .div-top .top-item {
        width: 65%;
    }

    .div-top .title {
        font-size: 3rem;
        padding: 10px;
    }

    .div-mid {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .mid-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mid-item {
        width: 45%;
        margin: 5px;
    }

    .mid-item input {
        max-width: calc(100% - 10px);
    }

    .div-bottom {
        flex-direction: column;
        align-items: center;
    }

    .bottom-left-item, .bottom-right-item, .bottom-item {
        width: 100%;
        margin: 10px 0;
    }

    .bottom-left-item img, .bottom-right-item img {
        width: 90%; /* サイズを大きく調整 */
        height: auto;
    }

    .result-table {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result-table tr {
        display: flex;
        flex-direction: column;
    }

    .result-table td {
        width: auto;
        height: auto;
        padding: 20px;
    }

    .result-table img {
        width: 80%; /* テーブル枠にかぶらない範囲で大きく */
        height: auto;
    }
}

/* フッターの設定 */
footer {
    width: 100%;
    height: 35px;
    background-color: darkgreen;
    color: white;
    padding-top: 15px;
    text-align: center;
    font-family: "Roboto Condensed", "Garamond", "Noto Sans JP", sans-serif;
    font-size: 17px;
    font-weight: 800 700 600 500 400;
    margin-bottom: 0; /* 隙間をなくすために追加 */
}

/* ボタンのスタイル */
.btn {
    appearance: none;
    margin: auto;
    font-size: 1.3em;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800 700 600 500 400;
    background-color: green;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    transition: 0.3s;
    padding: 0.6em 1.1em;
}

.btn:hover {
    background-color: #FF8C00;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-malformation {
  font-size: 2rem;
  padding: 3rem 4rem;
  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #228B22;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

/* ボトム部分の設定 */
.div-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row; /* 横並び */
    justify-content: center;
}

.bottom-left-item, .bottom-right-item {
    width: 25%;
    text-align: center;
}

.bottom-item {
    width: 100%;
    text-align: center;
}

.bottom-left-item img, .bottom-right-item img {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    height: 40%;
    border-collapse: collapse;
    border: solid 5px black;
    background-color: white;
}
table th, table td {
    border: solid 2px black;
}

table td {
    width: 20px;
    height: 40px;
    padding: 10px 10px;
}

.result-table img {
    width: 100%;
    height: 100%;
}

/* ボタンのスタイル */
.btn {
    appearance: none;
    margin: auto;
    font-size: 1.3em;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800 700 600 500 400;
    background-color: green;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    transition: 0.3s;
    padding: 0.1em 0.1em;
}

.btn:hover {
    background-color: #FF8C00;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-malformation {
  font-size: 2rem;
  padding: 3rem 4rem;
  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #228B22;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}